<section class="main-container">
    <app-sidenavbar></app-sidenavbar>
    <div class="content-container">
        <app-topnavbar></app-topnavbar>
        <h4 class="label">
            <samp><i class="pi pi-shopping-bag"></i></samp>
            &nbsp;
            --
            &nbsp;
            Manage Store
        </h4>
        <div class="table-container">
            <div class="details">
                <div class="input-feld">
                    <label htmlFor="store-name">Name</label>
                    <input pInputText id="store-name" [(ngModel)]="name" aria-describedby="store-help"
                        placeholder="Enter Store Name" />
                </div>

                <div class="input-feld">
                    <label htmlFor="Category">Category</label>
                    <input pInputText id="Category" aria-describedby="Category-help" placeholder="Enter Category Number"
                        [(ngModel)]="category" />
                </div>

                <div class="input-feld">
                    <label htmlFor="lease-agreement">Lease Agreement</label>
                    <input pInputText id="lease-agreement" aria-describedby="lease-agreement-help"
                        placeholder="Enter Lease Agreement" [(ngModel)]="leaseAgreement" />
                </div>
                <div class="input-feld">
                    <label htmlFor="Payment">Payment</label>
                    <input pInputText id="Payment" type="number" aria-describedby="Payment-help"
                        placeholder="Enter Payment Amount" [(ngModel)]="payment" />
                </div>
                <div class="input-feld">
                    <label htmlFor="Complex">Complex</label>
                    <select required=true class="select-dropdown" [(ngModel)]="selectedComplex" (ngModelChange)="onShoppingComplexChange($event)">
                        <option>--Select--</option>
                        <option *ngFor="let complexData of getShoppingComplexData" [value]="complexData.id" class="dropdown">
                            {{ complexData.name }}
                        </option>
                    </select>
                </div>                
            </div>
            <div class="button-pane">
                <button label="Save" class="save btn" (click)="save()">Save</button>
                <button label="Update" class="success btn" (click)="update()">Update</button>
                <button label="Delete" class="danger btn" (click)="delete()">Delete</button>
            </div>
            <div class="table">
                <p-table [value]="getData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:25%">Name</th>
                            <th style="width:25%">Category</th>
                            <th style="width:25%">Lease Agreement</th>
                            <th style="width:25%">Payment</th>
                            <th style="width:25%">Complex</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataItem let-i="rowIndex">
                        <tr  (click)="onRowSelect(dataItem)">
                            <td>{{ dataItem.name }}</td>
                            <td>{{ dataItem.category }}</td>
                            <td>{{ dataItem.leaseAgreement }}</td>
                            <td>{{ dataItem.payment }}</td>
                            <td>{{ dataItem.complex }}</td>
                          </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>