<section class="router-section">
    <div class="login-panale">
        <img src="../../../assets/images/i.webp" alt="">
        <div class="login-containner">
            <h3 class="logo-sing">
                Sing In
            </h3>
            <div class="login-details">
                <div>
                    <input class="input-feld"  id="username" placeholder="Username" />
                </div>
                <div>
                    <input  class="input-feld"  type="password" id="password" placeholder="Password" />
                </div>
            </div>
                <a class="login-button" href="/dashboard">Login</a>
        </div>
    </div>
</section>