<section class="main-container">
    <app-sidenavbar></app-sidenavbar>
    <div class="content-container">
        <app-topnavbar></app-topnavbar>
        <h4 class="label">
            <samp><i class="pi pi-building"></i></samp>
            &nbsp;
            --
            &nbsp;
            Manage Maintenance Contract
        </h4>
        <div class="table-container">
            <div class="details">
                <div class="input-feld">
                    <label htmlFor="agreement">Agreement</label>
                    <input pInputText id="agreement" placeholder="Enter Agreement" [(ngModel)]="agreement" />
                </div>

                <div class="input-feld">
                    <label htmlFor="Payment">Payment</label>
                    <input pInputText id="Payment" type="number" placeholder="Enter Payment Amount" [(ngModel)]="payment" />
                </div>
                <div class="input-feld">
                    <label htmlFor="Complex">Complex</label>
                    <select pInputText [(ngModel)]="selectedComplex" (ngModelChange)="onShoppingComplexChange($event)">
                        <option>--Select--</option>
                        <option *ngFor="let complexData of getShoppingComplexData" [value]="complexData.id">
                            {{ complexData.name }}
                        </option>
                    </select>
                </div>    
            </div>
            <div class="button-pane">
                <button label="Save" class="save btn" (click)="save()">Save</button>
                <button label="Update" class="success btn" (click)="update()">Update</button>
                <button label="Delete" class="danger btn" (click)="delete()">Delete</button>
            </div>
            <div class="table">
                <p-table [value]="getData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [rowsPerPageOptions]="[10, 25, 50]">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:50%">Agreement</th>
                            <th style="width:25%">Payment</th>
                            <th style="width:25%">Complex</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-dataItem let-i="rowIndex">
                        <tr  (click)="onRowSelect(dataItem)">
                            <td>{{ dataItem.agreement }}</td>
                            <td>{{ dataItem.payment }}</td>
                            <td>{{ dataItem.complex }}</td>
                          </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</section>